@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Silkscreen:wght@400;700&family=Spline+Sans+Mono:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

/* Paleta de Cores
    vermelho: #D9042B
    cinza claro: #B4BBBF
    cinza Medio: #6C7073
    Amarelo escuro: #BF7E04
    Preto: #0D0D0D

    fonts:
    font-family: 'Silkscreen', cursive;
    font-family: 'Spline Sans Mono', monospace;
*/

*{
    font-family: 'Silkscreen', cursive;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body, html{
    background-color: #B4BBBF;
    height: 100vh;
    width: 100vw;
}
main{
    position: relative;
    height: 100vh;
    width: 100vw;
}
section#login{
    position: absolute;
    top: 50%;
    left: 50%;
    overflow: hidden;
    
    background-color: white;
    width: 370px;
    height: 520px;
    border-radius: 15px;
    box-shadow: 0px 0px 15px #0d0d0d7f;
    
    transform: translate(-50%,-50%);
    transition: width .4s, height .4s;
    transition-timing-function: ease;
}
section#login > div#imagem{
    display: block;
    background: #6C7073 url(../imagens/tela-fundo.jpg);
    color: #B4BBBF;
    height: 150px;
    background-size: cover;
}
section#login > div#formulario{
    display: block;
    padding: 15px;
}
section#login > div#formulario > p , label, input, a{
    font-family: 'Spline Sans Mono', monospace;
    font-weight: 500;
}
div#formulario > h1{
    text-align: center;
    font-size: 2.2em;
    margin-bottom: 10px;
}
div#formulario > p{
    font-size: 0.8em;
    text-align: center;
    line-height: 1.3em;
}

form > div.campo{
    background-color: #B4BBBF;
    color: #D9042B;
    display: block;
    height: 50px;
    width: 100%;
    border-radius: 8px;
    margin: 15px 0px;
    border: #343434 solid 3px;
}
form > div.campo > label{
    display: none;
}
form > div.campo > span{
    color: white;
    background-color: #BF7E04;
    font-size: 2em;
    width: 45px;
    padding: 6.4px;
    border-radius: 5px 0px 0px 5px;
}
form>div.campo>input{
    background-color: white;
    color: black;
    font-size: 1em;
    width: calc(100% - 44px);
    height: 100%;
    border: none;
    border-radius: 0px 7px 7px 0px;
    padding: 4px;
    transform: translateY(-45px) translateX(+45px);
}
form>div.campo>input:focus-within{
    background-color: #cecece;
    
}

form > input[type=submit]{
    display: block;
    font-size: 1em;
    width: 100%;
    height: 40px;
    margin-top: 10px;
    background-color: #343434;
    color: white;
    border: none;
    border-radius: 8px;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.52);
    cursor: pointer;
}
form > input[type=submit]:hover{
    display: block;
    font-size: 1em;
    width: 100%;
    height: 40px;
    color: #D9042B;
    background-color: #6C7073;
    border: solid 2px #BF7E04;
    border-radius: 8px;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.52);
    cursor: pointer;
}
form > a.botao{
    display: block;
    text-align: center;
    font-size: 1em;
    margin-top: 10px;
    height: 40px;
    width: 100%;
    
    text-decoration: none;
    color: #424242;
    border: solid 2px #BF7E04;
    border-radius: 8px;
}
form > a.botao:hover{
    display: block;
    text-align: center;
    text-decoration: none;
    color: white;
    background-color: #D9042B;
    border-radius: 8px;
    margin-top: 10px;
    height: 40px;
    width: 100%;
}
div#formulario > form> a > span.material-symbols-outlined{
    transform: translateY(5px) translateX(20px);
    font-size: 1.6em;
}